* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
body {
  height: 4069px;
  min-width: 1566px;
  font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.orange_button {
  padding: 22px 48px;
  background: #FE775A;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.border_shadow {
  box-shadow: 2px 2px 2px lightgrey;
}
/* /Utility */

/* header */
/* nav_bar */
.nav_top, .nav_main {
  margin: auto;
  height: 75px;
  width: 1096px;
  background: #F4F9FD;
}

.bg_nav_top {
  width: 1566px;
  margin: auto;
  background: #F4F9FD;
  border-bottom: 2px solid #96A4AF;
}

/* nav_top */
.language_option, .log_in {
  width: 50%;
  line-height: 75px;
}

.language_option span, a {
  margin: 0 5px;
  color: #32495B;
}

.log_in {
    text-align: right;
    color: #32495B;
  }

 .log_in span:last-child {
   margin-left: 22px;
   padding: 10px 22px;
   color: white;
   background: #FE775A;
   border-radius: 5px;
   cursor: pointer;
 }

.log_in span:nth-last-child(2) {
  margin-left: 22px;
  padding: 10px 22px;
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 5px;
  cursor: pointer
}
/* /nav_top */

/* nav_main */
.nav_main {
  background: white;
}

.logo, .menu {
  height: 100%;
  width: 50%;
  line-height: 75px;
}

.logo img {
  vertical-align: middle;
}

.menu {
  text-align: right;
}

.menu span {
  color: #32495B;
  margin: 0 5px;
}
/* /nav_main */
/* /nav_bar */

/* hero_container */

.bg_hero_color {
  height: 646px;
  width: 1566px;
  background: #FFF1EE;
  margin: 0 auto;
}

.bg_hero {
  height: 646px;
  width: 1566px;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
}

.hero_container {
  height: 533px;
}

.hero_content {
  padding: 64px 235px;
  width: 65%;
}

.hero_content h1, .hero_content p {
  color: #32495B;
}

.hero_content h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 34px;
}

.hero_content p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 55px;
}

.hero_content p:last-child {
  margin-top: 55px;
  font-size: 12px;
}
/* /hero_container */

/* nav_bottom */
.nav_bottom {
  height: 80px;
  width: 1566px;
  margin: auto;
  background: #AFEBE4;
  border-top: 3px solid #32495B;
  border-bottom: 3px solid #32495B;
}
/* /nav_bottom */


/* /header */

/* main */
main {
  height: 2724px;
  width: 1566px;
  background: #F4F9FD;
  margin: auto;
}

/* section_center */
.section_center {
  width: 1096px;
  height: 1403px;
  margin: auto;
}

.section_center_content {
  width: 100%;
  height: 385px;
  text-align: center;
  padding-top: 46px;
  color: #32495B;

}

.section_center_content h2 {
  font-weight: 800;
  font-size: 30px;
}

.section_center_content p {
  font-weight: 600;
  font-size: 13px;
  padding: 33px 170px;
}

/* orizontal_box */
.orizontal_box {
  height: 318px;
  background: white;
}

.icon_button {
  height: 100%;
  width: 335px;
  text-align: center;
}

.icon_box {
  height: 150px;
  width: 150px;
  margin: 20px;
}

.icon_button span {
  display: block;
  margin: 10px 70px;
}

.crm_text {
  height: 100%;
  width: 630px;
  padding-top: 70px;
  color: #32495B;
}

.crm_text h3, .crm_text p {
  padding-bottom: 20px;
}

.crm_text p, .hr_position span, .check_list {
  font-size: 15px;
  font-weight: 600;
}

.hr_position span {
  padding-right: 60px;

}

.hr_position hr {
  display: inline-block;
  width: 300px;
  margin-bottom: 5px;
}

.check_list {
  margin-top: 20px;
}

.check_list i {
  color:#FE775A;
  padding: 0 15px;
}
/* /orizontal_box */

/* vertical_box */
.vertical_box {
  height: 610px;
  width: 335px;
  background: white;
  margin: 45px 0;
  text-align: center;
  color: #32495B;
}

.center_box {
  margin-left: 45px;
  margin-right: 45px;
}

.vertical_box h3 {
  margin-bottom: 20px;
}

.vertical_box p {
  margin: 0 10px;
  font-size: 14px;
}

.vertical_box hr {
  width: 200px;
  margin: 25px auto;
}

.vertical_box ul {
  margin-bottom: 50px;
  margin-left: 100px;
  text-align: left;
}

.vertical_box ul > li {
  list-style-type: none;
  margin-left: 10px;
}

.vertical_box ul > li i {
  color: #FE775A;
}
.vertical_box ul > li, .vertical_box p {
  font-size: 15px;
  font-weight: 600;
}
/* /vertical_box */
/* /section_center */

/* section_data */

.section_data {
  height: 651px;
  width: 100%;
  background: #00A6BB;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 0 175px;
}

.row {
  height: 100%;
  width: 720px;
  margin: auto;
}

.row_box {
  height: 200px;
  width: 180px;
  border-right: 1px solid white;
}

.row_box_up {
  border-bottom: 1px solid white;;
  margin-top: 50px;
}

.border_none {
  border-right: none;
}

.row_box img {
  margin-top: 20px;
  height: 40px;
  width: 120px;
}

.section_data h2 {
  width: 1200px;
  margin: auto;
  padding: 20px 0;
  font-weight: 800;
  font-size: 30px;
}

.row_box > span {
  width: 100%;
  font-size: 30px;
  display: block;
  padding-top: 20px;
}

/* /section_data */

.section_brands {
  height: 668px;
  width: 100%;

}
/* /main */

/* footer */
footer {
  height: 576px;
  width: 1566px;;
  margin: auto;
  background: #32495B;

}
/* /footer */

.float_left {
  float: left;
