* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
body {
  height: 4069px;
  min-width: 1566px;
  font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.orange_button {
  padding: 22px 48px;
  background: #FE775A;
  color: white;
}
/* /Utility */

/* header */
header {
  height: 796px;
  width: 1096px;
  margin: auto;
}

/* .bg_nav_top {
  width: 1566px;
  height: 75px;
  margin: auto;
} */

/* nav_bar */
.nav_top, .nav_main {
  height: 75px;
  width: 1096px;
  background: #F4F9FD;
}

.nav_top {
  border-bottom: 2px solid #96A4AF;
}

/* nav_top */
.language_option, .log_in {
  width: 50%;
  line-height: 75px;
}

.language_option span, a {
  margin: 0 5px;
  color: #32495B;
}

.log_in {
    text-align: right;
    color: #32495B;
  }

 .log_in span:last-child {
   margin-left: 22px;
   padding: 10px 22px;
   color: white;
   background: #FE775A;
   border-radius: 5px;
   cursor: pointer;
 }

.log_in span:nth-last-child(2) {
  margin-left: 22px;
  padding: 10px 22px;
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 5px;
  cursor: pointer
}
/* /nav_top */

/* nav_main */
.nav_main {
  background: white;
}

.logo, .menu {
  height: 100%;
  width: 50%;
  line-height: 75px;
}

.logo img {
  vertical-align: middle;
}

.menu {
  text-align: right;
}

.menu span {
  color: #32495B;
  margin: 0 5px;
}
/* /nav_main */
/* /nav_bar */

/* hero_container */
.hero_container {
  height: 566px;
  width: 100%;
  background: #FE775A;
}

.header_bottom {
  height: 54px;
  width: 100%;
  background: #AFEBE4;
}
/* /header */

/* main */
main {
  height: 2724px;
  width: 1096px;
  margin: auto;
  background: #AFEBE4;
}

.section_center {
  height: 1405px;
  width: auto;
  background: #F4F9FD;
}

.section_data {
  height: 651px;
  width: 100%;
  background: #00A6BB;
}

.section_brands {
  height: 668px;
  width: 100%;

}
/* /main */

/* footer */
footer {
  height: 576px;
  width: 1096px;;
  margin: auto;
  background: #32495B;

}
/* /footer */

.float_left {
  float: left;
